body {
  position: absolute;
  color: #353835;
  background-color: #c2ccc2;
  margin: 0;
  width: 100%;
  min-width: 768px;
}

.site-header {
  background-color: #002b00;
  height: 180px;
  color: #c2ccc2;
}

.site-footer {
  clear: both;
  width: 100%;
  background-color: #002b00;
}

h1, h2, h3 {
  margin: 0;
}

/* Site title */
h1 {
  padding-left: 25%;
  padding-top: 60px;
}

a:hover > h1 {
  color: #dae6da;
}

a {
  color: inherit;
  text-decoration: none;
  outline-style: none;
}

/* Site subtitle description */
h2 {
  padding-top: 15px;
  padding-left: 27.5%;
  color: #19804d;
}

.post {
  float: left;
  background-color: #dae6da;
  padding: 40px 5%;
  width: 60%;
  max-width: 768px;
}

.post-text {
  text-align: justify;
}

.post-tags {
  float: left;
  color: #19804d;
}

.post-date {
  float: right;
  color: #19804d;
}

/* Post title */
a:hover > h3 {
  color: #19804d;
}

.tags {
  float: left;
  margin-left: 5%;
  margin-right: 2.5%;
  width: 20%;
}

.tag-list {
  padding-left: 20%;
}

li > a:hover {
  color: #19804d;
  text-decoration: underline;
}
