.color-dark-gray {
  color: #353835;
}

.color-gray {
  color: #c2ccc2;
}

.bg-gray {
  background-color: #c2ccc2;
}

.bg-light-gray {
  background-color: #dae6da;
}

.bg-dark-green {
  background-color: #002b00;
}

.color-sea-green {
  color: #19804d;
}

.color-blue {
  color: #2a658d;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 768px;
  height: 100%;
  min-height: 100%;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline-style: none;
}

a:focus {
  outline-style: dotted;
}

/* Site title */

.site-header {
  padding-top: 60px;
  background-image: url(/img/stars_bg.jpg);
  background-size: cover;
}

.site-title {
  width: 60%;
  margin-left: 20%;
}

.blog-title {
  margin-left: 5%;
}

h1 > a:hover {
  color: #2a658d;
}

/* Site subtitle description */
h2 {
  padding-left: 5%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.about-link {
  float: right;
  word-wrap: break-word;
  margin-right: 2.5%;
}

.about-link:hover {
  color: #2a658d;
}

/* Copyright footer */
.site-footer {
  clear: both;
  background-image: url(/img/planet_bg.jpg);
  background-size: cover;
  width: 100%;
  min-height: 16px;
  padding: 8px 0;
  text-align: center;
}

/* Post area */
.post {
  float: left;
  width: 60%;
  min-height: 100%;
  margin-left: 20%;
}

.post-content {
  padding: 40px 5%;
}

.post-text {
  text-align: justify;
}

.post-tags {
  float: left;
}

.post-date {
  float: right;
}

/* Post title */
h3 > a:hover {
  color: #2a658d;
}

/* Tag list area */
.tags {
  float: right;
  margin-left: 5%;
  margin-right: 2.5%;
  width: 12.5%;
  word-wrap: break-word;
}

li {
  margin-bottom: 10px;
}

.tag-list {
  padding-left: 20%;
}

li > a:hover {
  color: #2a658d;
  text-decoration: underline;
}
