.color-dark-gray {
  color: #353836;
}

.color-gray {
  color: #c2ccc4;
}

.bg-gray {
  background-color: #c2ccc4;
}

.bg-light-gray {
  background-color: #dae6dd;
}

.bg-dark-green {
  background-color: #0e2714;
}

.color-sea-green {
  color: #198033;
}

.color-light-blue {
  color: #4db5ff;
}

.color-dark-blue {
  color: #195680;
}

.italic {
  font-style: italic;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 768px;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline-style: none;
}

a:focus {
  outline-style: dotted;
}

a:hover {
  color: #195680;
  text-decoration: underline;
}

/* Site title */

.site-header {
  padding-top: 20px;
  background-image: url(../img/stars_bg.jpg);
  background-size: cover;
}

.site-header a:hover {
  color: #4db5ff;
  text-decoration: none;
}

.site-title {
  width: 60%;
  margin-left: 20%;
}

.blog-title {
  margin-left: 5%;
  font-family: 'Vollkorn', serif;
  text-shadow: 2px 2px #0e2714;
}

/* Site subtitle description */
h2 {
  padding-left: 2.5%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
}

.about-link {
  float: right;
  word-wrap: break-word;
  margin-right: 2.5%;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
}

/* Copyright footer */
.site-footer {
  clear: both;
  background-image: url(../img/planet_bg.jpg);
  background-size: cover;
  width: 100%;
  min-height: 16px;
  padding: 8px 0;
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

/* Post area */
.post {
  float: left;
  width: 60%;
  min-height: 100%;
  margin-left: 20%;
}

.post-content {
  padding: 40px 5%;
}

.post-tags {
  float: left;
}

.post-date {
  float: right;
  font-style: italic;
}

.post-title {
  font-family: 'Vollkorn', serif;
  font-size: 1.8em;
}

.post-title a:hover {
  text-decoration: none;
}

/* Post text related */
.post-text {
  text-align: justify;
  clear: both;
}

.post-text a {
  color: #198033;
}

.post-text a:hover {
  color: #195680;
}

.post-text h1 {
  font-family: 'Vollkorn', serif;
  font-size: 1.5em;
}

.post-text h2 {
  font-family: 'Vollkorn', serif;
  font-size: 1.2em;
  padding: 0;
}

/* Used in tags page */
.list-post {
  margin-top: 1em;
  margin-left: 1em;
  float: left;
  font-size: 18px;
}

/* Tag list area */
.tags {
  float: right;
  margin-left: 5%;
  margin-right: 2.5%;
  width: 12.5%;
  word-wrap: break-word;
}

li {
  margin-bottom: 10px;
}

.tag-list {
  padding-left: 20%;
}
