<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.subtitle }}">
  <title>{{ site.title }}</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Fonts -->
  <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic">
  <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Vollkorn:700">
</head>

<body class="color-dark-gray bg-gray">

<header>
<div class="site-header color-gray bg-dark-green">
  <a href="/about/" class="about-link">About</a>
  <div class="site-title">
    <div class="blog-title">
    <h1><a href="/">{{ site.title }}</a></h1>
    <h2 class="color-light-blue" style="clear: both">{{ site.subtitle }}</h2>
    </div>
  </div>
</div>
</header>

{{ content }}

<div class="tags">
  <h4>Tags:</h4>
  <ul class="tag-list">
    {% for tag in site.tags %}
    <li>
      <a href="/tags/#{{ tag | first | cgi_escape }}">{{ tag | first}}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<footer>
<div class="site-footer color-gray bg-dark-green">
  Copyright (C) {{ site.author }} 2015
</div>
</footer>

</body>

</html>
